In [2]:
import numpy as np 
import pandas as pd

In [3]:
x_log = pd.read_csv('../../kkbox-churn-prediction-challenge/under_sample/X_train_user_logs.csv')
x_log=x_log.drop(['Unnamed: 0'], axis=1)
x_log.head(1)

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,hePJH9i2QLQSdVbNbe3s8lMup/75ZtENm0CTaOT0LwI=,2016-11-29T00:00:00,11,3,5,1,31,37,9115.098

In [4]:
x_log=x_log.sort_values(by=['msno', 'date'])

In [5]:
# def change column name 2:
def change_name_2(df):
    df.columns = ["_".join(x) for x in df.columns.ravel()]
    df.rename(columns={'msno_':'msno'}, inplace=True)
    return df

In [6]:
# date
date=x_log.groupby('msno',as_index=False).agg({
    'date':['count','first']})

In [7]:
date = change_name_2(date)

In [8]:
date.head(1)

,msno,date_count,date_first
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,527,2015-01-01T00:00:00

In [9]:
x_log.columns

Index(['msno', 'date', 'num_25', 'num_50', 'num_75', 'num_985', 'num_100',
       'num_unq', 'total_secs'],
      dtype='object')

In [11]:
cols = ['num_25', 'num_50', 'num_75', 'num_985', 'num_100',
       'num_unq', 'total_secs']
df_merged = date
for i in cols:
    df = x_log.groupby('msno',as_index=False).agg({i:['sum','mean','std']}).fillna(0)
    df=change_name_2(df)
    df_merged = pd.merge(df_merged,df,on=['msno'],how='inner')

In [15]:
# num_25
num_25=x_log.groupby('msno',as_index=False).agg({
    'num_25':['sum','mean','std']}).fillna(0)

In [16]:
num_25 = change_name_2(num_25)

In [17]:
num_25.head(1)

,msno,num_25_sum,num_25_mean,num_25_std
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,1515,2.874763,5.10456

In [18]:
# num_50
num_50=x_log.groupby('msno',as_index=False).agg({
    'num_50':['sum','mean','std']}).fillna(0)
num_50 = change_name_2(num_50)

In [19]:
num_50.head(1)

,msno,num_50_sum,num_50_mean,num_50_std
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,411,0.779886,1.230526

In [20]:
#num_75
num_75=x_log.groupby('msno',as_index=False).agg({
    'num_75':['sum','mean','std']}).fillna(0)
num_75 = change_name_2(num_75)

In [21]:
num_75.head(1)

,msno,num_75_sum,num_75_mean,num_75_std
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,364,0.690702,1.073873

In [23]:
#num_985
num_985=x_log.groupby('msno',as_index=False).agg({
    'num_985':['sum','mean','std']}).fillna(0)
num_985 = change_name_2(num_985)
num_985.head(1)

,msno,num_985_sum,num_985_mean,num_985_std
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,586,1.111954,2.351439

In [27]:
#num_100
num_100=x_log.groupby('msno',as_index=False).agg({
    'num_100':['sum','mean','std']}).fillna(0)
num_100 = change_name_2(num_100)
num_100.head(1)

,msno,num_100_sum,num_100_mean,num_100_std
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,23359,44.324478,40.726191

In [24]:
#num_unq
num_unq=x_log.groupby('msno',as_index=False).agg({
    'num_unq':['sum','mean','std']}).fillna(0)
num_unq = change_name_2(num_unq)
num_unq.head(1)

,msno,num_unq_sum,num_unq_mean,num_unq_std
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,16546,31.396584,26.188412

In [25]:
#total_secs
total_secs=x_log.groupby('msno',as_index=False).agg({
    'total_secs':['sum','mean','std']}).fillna(0)
total_secs = change_name_2(total_secs)
total_secs.head(1)

,msno,total_secs_sum,total_secs_mean,total_secs_std
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,6063712.469,11506.095767,10141.873981

In [28]:
data_frames=[date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs]

In [29]:
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['msno'],
                                            how='inner'), data_frames)

In [30]:
df_merged.shape

(24798, 24)

In [31]:
df_merged.to_csv('../../kkbox-churn-prediction-challenge/train/X_train_user_logs.csv',index=False)

In [32]:
df = pd.read_csv('../../kkbox-churn-prediction-challenge/train/X_train_user_logs.csv')

In [33]:
df.head(1)

,msno,date_count,date_first,num_25_sum,num_25_mean,num_25_std,num_50_sum,num_50_mean,num_50_std,num_75_sum,...,num_985_std,num_100_sum,num_100_mean,num_100_std,num_unq_sum,num_unq_mean,num_unq_std,total_secs_sum,total_secs_mean,total_secs_std
0,++DcyRE+ZfLtlKGigvv9dv5EQ4KAhHhiN9LM9X+F1vw=,527,2015-01-01T00:00:00,1515,2.874763,5.10456,411,0.779886,1.230526,364,...,2.351439,23359,44.324478,40.726191,16546,31.396584,26.188412,6063712.469,11506.095767,10141.873981