In [1]:
import numpy as np 
import pandas as pd

In [2]:
INPUT_PATH = "../../kkbox-churn-prediction-challenge/50_under_sample/"
FILE_NAME = "test_user_logs.csv"
OUTPUT_NAME = "test_user_logs_transformed.csv"

In [3]:
x_log = pd.read_csv(INPUT_PATH + FILE_NAME)

In [4]:
x_log.head(1)

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,O9Ag/HcqM8W+jT+tp134WBBA3hdbPwalp/9SGMi4QoE=,2015-03-21T00:00:00,0,0,0,0,2,2,528.236

In [5]:
# def change column name 2:
def change_name_2(df):
    df.columns = ["_".join(x) for x in df.columns.ravel()]
    df.rename(columns={'msno_':'msno'}, inplace=True)
    return df

In [6]:
def log_features(df):
    df=df.sort_values(by=['msno', 'date'])
    
    # date
    date=df.groupby('msno',as_index=False).agg({'date':['count','first']})
    date = change_name_2(date)
    
    # get all other columns changed
    cols = ['num_25', 'num_50', 'num_75', 'num_985', 'num_100',
       'num_unq', 'total_secs']
    df_merged = date
    for i in cols:
        df_tmp = df.groupby('msno',as_index=False).agg({i:['sum','mean','std']}).fillna(0)
        df_tmp=change_name_2(df_tmp)
        df_merged = pd.merge(df_merged,df_tmp,on=['msno'],how='inner')
    
    return df_merged

In [7]:
log_transformed = log_features(x_log)

In [8]:
log_transformed.to_csv(INPUT_PATH+OUTPUT_NAME,index=False)